.app-wrapper {
    display: grid;
    grid-template-rows: 64px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 
    'header header'
    'nav content'
    ;
    gap: 16px;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    padding: 0 16px;
    margin: 0 auto;
}
.app-wrapper > div{
    display: flex;
    overflow: hidden;
}
.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.content{
    grid-area: content;
}

