.container {
    
}
.list{
    display: flex;
    flex-direction: column;
    height: auto;
    border-bottom: 1px solid var(--borderColor);
    border-top: 1px solid var(--borderColor);
    gap: 8px;
    overflow: hidden;
}
.link{
    color: var(--color);
    padding: 8px;
}
.link:hover{
    background: var(--decorBg);
    /* color: var(--bacgroundColor); */
}